<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <connectionStrings>
    <add name="Local" connectionString="Data Source=MYPC;Initial Catalog=Timeclock;Integrated Security=true" />

		<add name="BhNet" connectionString="Server=SQLB34.webcontrolcenter.com;Database=brad;User Id=brad;Password=*1sunshine" />

	</connectionStrings>

  <system.web>
    <customErrors mode="Off" />
  </system.web>

</configuration>