@font-face {
    font-family: 'sofia_pro_lightregular';
    src: url('fonts/SofiaProLight-webfont.eot');
    src: url('fonts/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SofiaProLight-webfont.woff') format('woff'),
         url('fonts/SofiaProLight-webfont.ttf') format('truetype'),
         url('fonts/SofiaProLight-webfont.svg#sofia_pro_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	width:100%;
	font-family: sofia_pro_lightregular, sans-serif;
}

header h1{
	text-align:center;
	
}

main{
	width: 80%;
	margin:auto;
}

#comments{
	width: 60%;
	margin: auto;
}

#comments div{
	background-color: #ddd;
	padding: 30px;
	margin: 10px 0px;
	border-radius: 5px;
	font-size: .9em;
	line-height: 1.7em;
}

.code{
	display:block;
	padding: 10px 30px;
	font-family:'Courier New';
}

/* SIDEBAR INFO AND BOOK SELECTOR
*****************************************/
#info{
	position:fixed;
	right: 5%;
	width: 12%;
	border-radius: 5px;
	background-color: #eee;
	padding: 1.5em .25em 1em 1em;
}

#info span{
	display:block;
	margin: 0;
}

#info img{
	width: 70%;
	margin: .25em 0 .5em 0;
}

#booklist{
	font-size: .6em;
}

#info .title{
	font-weight:bold;
}

#info .author{
	font-style:italic;
}


/* MISCELLANEOUS
*****************************************/


img{
	max-width:100%;
}